{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">
  <div class="container">
    {{jsonfile}}
  </div>

  {#
  - **Latvia (Forest Green):** `#228B22`
  - **Lithuania (Amber Gold):** `#FFBF00`
  - **Estonia (Sea Blue):** `#006994`
  #}

  <div class="olympiads">

    {% for (country,color) in [('LV', '#228B22'), ('EE', '#006994'), ('LT', '#FFBF00'), ('WW', 'black'), ('ZZ',
    'black')] %}

    {% for link in links %}
    {% if link.olympiadCountry == country %}
    <p class="olympiad" style="border-color: {{ color }};">
      <a href="{{ url_for('problems.getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{
        link.olympiadName }}</a> <span class="tltip"><img style="vertical-align: middle;width:12px;"
          src="{{ url_for('static',filename='blue_question_mark.png') }}">
        <span class="tltiptext"><b>{{link.olympiadCountry}}.{{link.olympiadCode}}:</b> {{ link.olympiadDescription
          }}</span></span>:
      {% for (event,isComplete) in link.olympiadEvents %}
      <a
        href="{{ url_for('problems.getGrades',event=event,grade=-1,country=link.olympiadCountry,olympiad=link.olympiadCode) }}">
        <b>{{ event }}</b></a>{%- if not loop.last %};{% endif %}
      {% endfor %}
    </p>
    {% endif %}
    {% endfor %}

    {% endfor %}
  </div>



  <hr style="width:90%" />

  <div class="olympiads">
    <b>{% trans %}Books and Collections:{% endtrans %}</b>

    <p class="olympiad" style="border-color: black;">
      <a href="{{ url_for('problems.getBookFull', subdir='bbk2012-part1') }}">[BBK2012] A.Bērziņš, D.Kūma. Olimpiāžu un
        konkursu uzdevumu krājums skaitļu teorijā (1.daļa).</a><br />
      Uzdevumi: <a href="{{ url_for('getBook',book_id='BBK2012',section_id='P1') }}">BBK2012.P1</a>.
    </p>
  </div>

</div>
{% endblock %}