{% extends 'global.html' %}

{% block content %}
       <div class="col-sm-8 text-left">
               <a href="{{ url_for('main') }}" class="button">{% trans %}Back{% endtrans %}</a>
    <div class="container">
      {{jsonfile}}
    </div>

      {#
- **Latvia (Forest Green):** `#228B22`
- **Lithuania (Amber Gold):** `#FFBF00`
- **Estonia (Sea Blue):** `#006994`
      #}

      <div class="olympiads">
          {% for link in links %}
          {% set country_code = link.olympiadCountry %}
          {% if country_code == 'EE' %}
          <p class="olympiad" style="border-color: #006994;">
              <a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName }}</a>: {{ link.olympiadDescription }}
          </p>
          {% elif country_code == 'LV' %}
          <p class="olympiad" style="border-color: #228B22;">
              <a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName }}</a>: {{ link.olympiadDescription }}
          </p>
          {% elif country_code == 'LT' %}
          <p class="olympiad" style="border-color: #FFBF00;">
              <a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName }}</a>: {{ link.olympiadDescription }}
          </p>
          {% else %}
          <p class="olympiad" style="border-color: black;">
              <a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName }}</a>: {{ link.olympiadDescription }}
          </p>
          {% endif %}
          {% endfor %}
          </div>
    <hr style="width:90%"/>
    <dl>
      <dt>BBK2012:
          <a href="{{ url_for('getBook',book_id='BBK2012',section_id='P1') }}">1.daļa</a>;
      <a href="{{ url_for('getBook',book_id='BBK2012',section_id='P3') }}">3.daļa</a></dt>
      <dd style="margin-left:20px">A.Bērziņš, D.Kūma. Olimpiāžu un konkursu uzdevumu krājums skaitļu teorijā.</dd>
    </dl>

        </div>
{% endblock %}