{% extends 'global.html' %}

{% block content %}
       <div class="col-sm-8 text-left">
    <div class="container">
      {{jsonfile}}
    </div>

      {#
- **Latvia (Forest Green):** `#228B22`
- **Lithuania (Amber Gold):** `#FFBF00`
- **Estonia (Sea Blue):** `#006994`
      #}

      <p>{% trans %}Olympiads with full solutions are shown in bold. Others are incomplete.{% endtrans %}</p>

      <div class="olympiads">

          {% for (country,color) in [('LV', '#228B22'), ('EE', '#006994'), ('LT', '#FFBF00'), ('', 'black')] %}

          {% for link in links %}
          {% if link.olympiadCountry == country %}
          <p class="olympiad" style="border-color: {{ color }};">
              <a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName }}</a> <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext"><b>{{link.olympiadCountry}}.{{link.olympiadCode}}:</b> {{ link.olympiadDescription }}</span></span>:
              {% for (event,isComplete) in link.olympiadEvents %}
              <a href="{{ url_for('getGrades',event=event,grade=-1,country=link.olympiadCountry,olympiad=link.olympiadCode) }}">
                  {% if isComplete %}<b>{{ event }}</b>{% else %}{{ event }}{% endif %}</a>{%- if not loop.last %};{% endif %}
              {% endfor %}
          </p>
          {% endif %}
          {% endfor %}

          {% endfor %}
      </div>
    <hr style="width:90%"/>
    <dl>
      <dt>BBK2012:
          <a href="{{ url_for('getBook',book_id='BBK2012',section_id='P1') }}">1.daļa</a>;
      <a href="{{ url_for('getBook',book_id='BBK2012',section_id='P3') }}">3.daļa</a></dt>
      <dd style="margin-left:20px">A.Bērziņš, D.Kūma. Olimpiāžu un konkursu uzdevumu krājums skaitļu teorijā.</dd>
    </dl>

        </div>
{% endblock %}