{% extends 'global.html' %}

{% block content %}
       <div class="col-sm-8 text-left">
           <a href="{{ url_for('main') }}"class="button">{% trans %}Back{% endtrans %}</a>
           <div class="container">
               {{jsonfile}}
           </div>

           <table class="tasks">
        <colgroup>
            <col class="aaa">
            <col class="bbb">
            <col class="ccc">
        </colgroup>
        <tbody>
            {% for concept in all_concepts %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td>{{ concept.termEN }}</a></td>
                <td>{{ concept.termLV }}</td>
                <td>{% if concept.descLV != '' %}  <small>{{ concept.descLV | safe }}</small><br /> {% endif %}
                {% for problem in concept.problems %} <a href="{{ url_for('getProblem',problemid=problem) }}">{{
                        problem }}</a>, {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
{% endblock %}