{% extends 'global.html' %}

{% block content %}
        <div class="col-sm-8 text-left">
        <p>Olimpiāde: {{ olympiad_id }}; klases: {{ mingrade }}..{{ maxgrade }}; gadi: {{ minyear }}..{{ maxyear }}</p>


        <table class="table table-sm table-striped">
        <thead>
        <tr>
        <th>Jautājuma tips</th>
        {% for d in domains %}
                <th>{{ d }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for qt in question_types %}
        <tr>
                <th scope="row">{{ qt }}</th>
                {% for d in domains %}
                <td>{{ matrix[qt][d] }}</td>
                {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        </table>



        {% for domain in all_domains %}
        <b>{{ _(domain.name) }}:</b>
        <ul>
                {% for topic in all_topics %}

                {% if all_topics_info[topic].topicNumber.startswith(domain.prefix) %}

                <li>{{ all_topics_info[topic].topicNumber }}. {{ all_topics_info[topic].topicName }}
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
                src="{{ url_for('static',filename='blue_question_mark.png') }}">
                <span class="tltiptext" style="font-weight:normal;"><tt class="metahelp">{{ topic }}:</tt> 
                {% if all_topics_info[topic].topicDescription != '' %} 
                        <small>{{ all_topics_info[topic].topicDescription | safe }}</small> 
                {% endif %}
                </span></span>        
                <small>
                {% for problem in all_topics_info[topic].problems %}
                <a href="{{ url_for('getProblem',problemid=problem) }}">{{
                problem }}</a>{%- if not loop.last %},{% endif %}
                {% endfor %}</small>
                </li>
                
                {% endif %}


                {% endfor %}
        </ul>
        {% endfor %}

        <b style="font-size:150%">{% trans %}Methods{% endtrans %}</b>

        <ul>
        {% for method in all_methods %}

        <li>{{ all_methods_info[method].methodNumber }}. {{ all_methods_info[method].methodName }}
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
                src="{{ url_for('static',filename='blue_question_mark.png') }}">
                <span class="tltiptext" style="font-weight:normal;"><tt class="metahelp">{{ method }}:</tt> 
                {% if all_methods_info[method].methodDescription != '' %} 
                        <small>{{ all_methods_info[method].methodDescription | safe }}</small> 
                {% endif %}
                </span></span>        
                <small>
                {% for problem in all_methods_info[method].problems %}
                <a href="{{ url_for('getProblem',problemid=problem) }}">{{
                problem }}</a>{%- if not loop.last %},{% endif %}
                {% endfor %}</small>
                </li>

        {% endfor %}
        </ul>

        </div>

{% endblock %}