{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">

    <form class="search-form" id="searchForm" action="#" method="GET">
        <div class="filter-box">
            <!-- Grade Filter -->
            <div class="filter" style="max-width: 140px;">
                <b>{% trans %}Grade{% endtrans %}:</b><br/>
                {% for (val,lbl) in [('5','5'), ('6','6'), ('7', '7'), ('8', '8'),
                ('9', '9'), ('10', '10'), ('11', '11'), ('12', '12')] %}
                {% if val == grade %}
                <label class="selected"><input type="radio" name="grade" checked="1" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                    {% if grade_counts %} [{{ grade_counts[val] }}]&nbsp; {% endif %}</label>
                {% else %}
                <label><input type="radio" name="grade" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}&nbsp;
                    {% if grade_counts %} [{{ grade_counts[val] }}]&nbsp; {% endif %}</label>
                {% endif %}
                {% if not loop.last and val in ['6', '8', '10', '12'] %}<br/>{% endif %}
                {% endfor %}
                <br/>
                <small><a href="#" onclick=
                    "document.querySelectorAll('input[name=grade]').forEach(el => {
                    el.checked = false;
                    el.parentElement.classList.remove('selected');
                    }); document.getElementById('searchForm').submit(); return false;">
                {% trans %}RemoveFilter{% endtrans %}</a></small>
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext">{% trans %}An olympiad problem usually belongs to some grade.{% endtrans %}
    {% trans %}Problems in textbooks, contests or international olympiads are often suggested for multiple grades.{% endtrans %}</span></span>
            </div>

            <div class="filter" style="max-width: 190px;">
                <b>{% trans %}Olympiad{% endtrans %}:</b><br/>
                {% for (val,lbl) in olympiadTypeDict %}
                {% if val == olympiad %}
                <label class="selected"><input type="radio" name="olympiad" checked="1" value="{{ val }}"
                onchange="document.getElementById('searchForm').submit();">{{ lbl[lang] }}
                    {% if olympiad_counts %} [{{ olympiad_counts[val] }}]&nbsp; {% endif %}</label>
                {% else %}
                <label><input type="radio" name="olympiad" value="{{ val }}"
                onchange="document.getElementById('searchForm').submit();">{{ lbl[lang] }}
                    {% if olympiad_counts %} [{{ olympiad_counts[val] }}]&nbsp; {% endif %}</label>
                {% endif %}
                {% if not loop.last %}<br/>{% endif %}
                {% endfor %}
                <br/>
                <small><a href="#" onclick=
                    "document.querySelectorAll('input[name=olympiad]').forEach(el => {
                    el.checked = false;
                    el.parentElement.classList.remove('selected');
                    }); document.getElementById('searchForm').submit(); return false;">
                {% trans %}RemoveFilter{% endtrans %}</a></small>
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext">Reģionu/atklātās olimpiādes domātas masveidīgai dalībai.
        Nacionālās, papildsacensību un starptautiskās olimpiādes ir elitārākas.
        Neklātienes konkursu uzdevumi mēdz būt darbietilpīgāki par olimpiāžu uzdevumiem.
        Avots "Grāmata" ir uzdevumiem, kuri nav piedāvāti olimpiādēs.</span></span>
            </div>

            <!-- Domain Filter -->
            <div class="filter" style="max-width: 120px;">
                <b>{% trans %}Domain{% endtrans %}:</b>
                {% for (val,lbl) in [('Alg','Alg'), ('Comb','Comb'), ('Geom', 'Geom'),
                ('NT', 'NT')] %}
                {% if val == domain %}
                <label class="selected"><input type="radio" name="domain" checked="1" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                {% if domain_counts %} [{{ domain_counts[val] }}]&nbsp; {% endif %}
                </label>
                {% else %}
                <label><input type="radio" name="domain" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                {% if domain_counts %} [{{ domain_counts[val] }}]&nbsp; {% endif %}
                </label>
                {% endif %}
                {% if not loop.last %}<br/>{% endif %}
                {% endfor %}
                <br/><small><a href="#" onclick=
                    "document.querySelectorAll('input[name=domain]').forEach(el => {
                    el.checked = false;
                    el.parentElement.classList.remove('selected');
                    }); document.getElementById('searchForm').submit(); return false;">{% trans %}RemoveFilter{% endtrans %}</a></small>
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext">Katrs uzdevums piederīgs vienai no četrām nozarēm: <br/>
    <b>Alg</b> - Algebra,<br/>
    <b>Comb</b> - Kombinatorika,<br/>
    <b>Geom</b> - Ģeometrija,<br/>
    <b>NT</b> - Skaitļu teorija.</span></span>
            </div>

            <div class="filter"  style="max-width: 180px;">
                <b>{% trans %}Question{% endtrans %}:</b>
                {% for (val,lbl) in [('FindAll','FindAll'), ('FindCount','FindCount'), ('FindOptimal', 'FindOptimal'),
                ('FindExample', 'FindExample'),('Prove','Prove'),('ProveDisprove','ProveDisprove'),
                ('Algorithm','Algorithm')] %}
                {% if val == questionType %}
                <label class="selected"><input type="radio" name="questionType" checked="1" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                    {% if questionType_counts %} [{{ questionType_counts[val] }}]&nbsp; {% endif %}</label>
                {% else %}
                <label><input type="radio" name="questionType" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                    {% if questionType_counts %} [{{ questionType_counts[val] }}]&nbsp; {% endif %}</label>
                {% endif %}{% if not loop.last %}<br/>{% endif %}
                {% endfor %}
                <br/><small><a href="#" onclick=
                    "document.querySelectorAll('input[name=questionType]').forEach(el => {
                    el.checked = false;
                    el.parentElement.classList.remove('selected');
                    }); document.getElementById('searchForm').submit(); return false;">{% trans %}RemoveFilter{% endtrans %}</a></small>
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext">Uzdevuma jautājuma tips nosaka atrisinājuma struktūru.
        Uzdevumiem, kas satur vairākus apakšpunktus (A),(B) utt., jautājuma tipi atbilst apakšpunktu skaitam.<br/>
    <b>FindAll</b> - Atrast visus derīgos atrisinājumus, pamatot, ka citu nav.<br/>
    <b>FindCount</b> - Atrast atbilžu vai objektu skaitu.<br/>
    <b>FindOptimal</b> - Atrast lielāko, mazāko, "labāko" atrisinājumu.<br/>
    <b>FindExample</b> - Atrast jebkuru vienu atrisinājumu.<br/>
    <b>Prove</b> - Pierādīt doto apgalvojumu.<br/>
    <b>ProveDisprove</b> - Pierādīt vai apgāzt doto apgalvojumu.<br/>
    <b>Algorithm</b> - Aprakstīt procedūru, konstrukciju, spēles stratēģiju.</span></span>
            </div>

            <div class="filter">
                <b>{% trans %}Method{% endtrans %}:</b>
                {% for (val,lbl) in [('LTInduction','Indukcija'), ('LTMeanValuePrinciple','Vid.Vērtība'),
                ('LTExtremeElement', 'Ekstr.Elements'),('LTInvariant', 'Invariants'),
                ('LTContradiction', 'Pretruna'),('LTInterpretation','Interpretācijas'),
                ('LTExpressionTransforms','Pārveidojumi'),('LTStructureAugmentation','Papildkonstrukcijas'),
                ('', 'Nenorādīta')] %}
                {% if val == method %}
                <label class="selected"><input type="radio" name="method" checked="1" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                    {% if method_counts %} [{{ method_counts[val] }}]&nbsp; {% endif %}</label>
                {% else %}
                <label><input type="radio" name="method" value="{{ val }}"
                    onchange="document.getElementById('searchForm').submit();">{{ lbl }}
                    {% if method_counts %} [{{ method_counts[val] }}]&nbsp; {% endif %}</label>
                {% endif %}
                {% endfor %}
                <br/><small><a href="#" onclick=
                    "document.querySelectorAll('input[name=method]').forEach(el => {
                    el.checked = false;
                    el.parentElement.classList.remove('selected');
                    }); document.getElementById('searchForm').submit(); return false;">{% trans %}RemoveFilter{% endtrans %}</a></small>
                <span class="tltip"><img style="vertical-align: middle;width:12px;"
         src="{{ url_for('static',filename='blue_question_mark.png') }}">
    <span class="tltiptext">{% trans %}Method used in a solution.{% endtrans %}
    {% trans %}Unlike other metadata method is often unspecified.{% endtrans %}</span></span>
            </div>
        </div>
        <button type="submit" class="search-button">{% trans %}Search{% endtrans %}</button>
        {% if page_offsets %}
        &nbsp; {% trans %}Pages{% endtrans %}:
        {% for curr_offset in page_offsets %}
        {% if curr_offset == myoffset %}
        <b>{{ curr_offset//10+1 }}</b>
        {% else %}
        <a href="{{ url_for('getFilter',grade=grade,domain=domain,questionType=questionType,method=method,offset=curr_offset) }}">{{ curr_offset//10+1 }}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </form>


{% for problem in problems %}
<h3 style="font-size: 120%; color: #1565C0;">{{ problem.problemid }}</h3>

{{ problem.text | safe }}

<p style="font-size:80% !important"><a href="{{ url_for('getProblem',problemid=problem.problemid) }}">{% trans %}More{% endtrans %}...</a></p>
{% endfor %}

</div>
{% endblock %}