{% extends 'global.html' %}

{% block content %}
       <div class="col-sm-8 text-left">
            <div class="container">
                {{jsonfile}}
            </div>
           {% if grade == '-1' %}
             <h2> {% if country and country != '' %}{{ country }}.{% endif %}{{ olympiad }}.{{ event }}</h2>
           {% else %}
            <h2> {% if country and country != '' %}{{ country }}.{% endif %}{{ olympiad }}.{{ event }} olimpiādes {{ grade }}. klases uzdevumi </h2>
           {% endif %}
            {% for problem in problems %}

            <h3 class="problem">{{ problem.problemid }}</h3>

            {{ problem.text | safe }}

            <p style="font-size:80% !important"><a href="{{ url_for('getProblem',problemid=problem.problemid) }}">
                    {% trans %}More{% endtrans %}...
            </a></p>
            {% endfor %}
       </div>
{% endblock %}