<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Klase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
     <!-- Load MathJax 3 with TeX input and HTML-CSS output -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
        
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a
                        href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}"
                            style="width:60px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                    <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                    <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                    <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                    <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="col-sm-8 text-left">
            <a href="{{ url_for('getOlympiad',country_id=country,olympiad_id=olympiad) }}"
                class="button">Atpakaļ</a>
            <div class="container">
                {{jsonfile}}
            </div>
            <h2> {{ year }}.gada {{ grade }}. klases uzdevumi </h2>
            <p> Visi uzdevumi, kas ir zem šīs olimpiādes, klases un gada </p>
            {% for problem in problems %}
            <h3>{{ problem.problem_number }}. uzdevums</h3>
            <p> Uzdevuma ID: <a href="{{ url_for('getProblem',problemid=problem.problemid) }}">
                    {{ problem.problemid }}
                </a> </p>
            {{ problem.text | safe }}
            {% endfor %}
        </div>
    </div>
</body>

</html>