<!DOCTYPE html>
<html>
  <head>
        <title>Bibliogrāfija</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:5000/" style="padding: 5px 5px"><a href="http://localhost:5000/"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:5000/">Sākumlapa</a></li>
                    <li><a href="http://localhost:5000/olympiads">Olimpiāžu arhīvs</a></li>
                    <li><a href="http://localhost:5000/skills">Prasmes</a></li>
                    <li><a href="http://localhost:5000/video">Video atrisinājumi</a></li>
                    <li class="active"><a href="http://localhost:5000/info">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="col-sm-8 text-left">
            <a href="http://localhost:5000/" class="button">Atpakaļ</a>
            <h2 class="info">Bibliogrāfija ar norādēm uz olimpiāžu uzdevumu pirmavotiem</h2>
        
            <p>Šeit var atrast noderīgas saites uz dažādu veidu starptautiskajām matemātikas olimpiādēm. </p>
        
            <p><a class="info" href="https://artofproblemsolving.com/community/c14_international_contests">Art of Problem
                    Solving: International Contests</a></p>
            <p class="info">Forums, kur risināti IMO, IMO īso sarakstu, Baltijas ceļa, EGMO uzdevumu komplekti</p>
            <hr>
            <p><a class="info" href="https://artofproblemsolving.com/community/c58_national_olympiads">Art of Problem Solving:
                    National Olympiads</a></p>
            <p class="info">Ķīnas u.c. valstu sacensību uzdevumi</p>
            <hr>
            <p><a class="info" href="http://nms.lu.lv/uzdevumu-arhivs/latvijas-olimpiades/"> NMS arhīvs </a></p>
            <p class="info">Latvijas nacionālās olimpiādes</p>
            <hr>
            <p><a class="info" href="http://www.math.olympiaadid.ut.ee/html/index.php?id=piirk/">Igaunijas žūrijas arhīvs</a>
            </p>
            <p class="info">Uzdevumu teksti igauņu un krievu valodās.
                Piirkonnavoorud (reģionu kārta), Lõppvoorud (gala/nacionālā kārta), Lahtised võistlused (rudens un ziemas
                atklātie konkursi), Valikvõistlused (atlases sacensības).</p>
            <hr>
            <p><a class="info" href="http://mif.vu.lt/matematikos-olimpiados/">Lietuvas olimpiāžu uzdevumu arhīvs</a></p>
            <p class="info">Uzdevumu teksti lietuviešu valodā.</p>
            <hr>
        </div>
        </div> 
</body>

</html>