{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">

{#
<p>Message = {{ clickcount }}</p>
#}

<div class="main">
    <form action="{{ url_for('main') }}" method="get">

        <div>{% trans %}Search{% endtrans %}:
        <label style="font-weight:normal;">
            <input type="radio" name="searchMode" value="exact"
            {% if searchMode == 'exact' %}checked{% endif %}>
            {% trans %}Exactly{% endtrans %}
        </label>
        &nbsp;&nbsp;
        <label style="font-weight:normal;">
            <input type="radio" name="searchMode" value="regex"
            {% if searchMode == 'regex' %}checked{% endif %}>
            {% trans %}Regex{% endtrans %}
        </label>
        &nbsp;&nbsp;
        <label style="font-weight:normal;">
            <input type="radio" name="searchMode" value="semantic"
            {% if searchMode == 'semantic' %}checked{% endif %}>
            {% trans %}By meaning{% endtrans %}
        </label>
        </div>


        <div class="search-container">
        <select class="search-target" name="something">
            <option value="questions" selected>{% trans %}In questions{% endtrans %}</option>
            <option value="solutions">{% trans %}Everywhere{% endtrans %}</option>
        </select>
        <input type="text" class="search-input" placeholder="Search ELIOZO" name="keyword" value="{{ keyword }}">
        <button type="submit" class="search-quadratic">
            <img src="{{ url_for('static',filename='magnifying-glass.png') }}" alt="Search"/>
        </button>
        </div>
    </form>
</div>

{#
<form class="search-form" action="{{ url_for('main') }}" method="get">
<input class="search-input" type="text" name="keyword" value="{{ keyword }}" placeholder="{% trans %}Text to Search{% endtrans %}">
<button class="search-button" type="submit">{% trans %}Search{% endtrans %}</button>
</form>
#}

{% for problem in problems %}
<h3 class="problem">{{ problem.problemid }}</h3>

{{ problem.text | safe }}

<p style="font-size:80% !important"><a href="{{ url_for('getProblem',problemid=problem.problemid) }}">{% trans %}More{% endtrans %}...</a></p>
{% endfor %}

    {#
    <ul style="color:#cccccc">
        <li>Test1: <a href="{{ url_for('static',filename='tests/latex.html') }}">LaTeX</a></li>
    </ul>
    #}

</div>
{% endblock %}