<!DOCTYPE html>
<html lang="lv">

<head>
    <title>Math</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="margin-left:0px">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                    <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                    <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                    <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                    <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
            <div class="col-sm-8 text-left">
                <h1>Matemātikas olimpiāžu arhīvs</h1>
                <p> Matemātikas olimpiāžu uzdevumu vietne, kurā var atrast uzdevumus olimpiāžu arhīvā,
                    meklēt uzdevumus pēc konkrētām prasmēm, šķirot uzdevumus pēc gada, klases un olimpiādes,
                    skatīties video atrisinājumus uzdevumiem un iepazīties ar
                    citu matemātikas olimpiāžu uzdevumu bibliogrāfijām. </p>
                <hr>
            </div>

    <form style="margin-left: 0px; text-align: left;" action="#" method="GET">
    <table border="0" cellspacing="0">
        <tr><td>Ierakstiet, kādus uzdevumus meklēt (<a href="#">Meklēšanas vaicājumu paraugi</a>)</td></tr>
        <tr><td><textarea rows="5" cols="80" name="question">(Your text in English)
        </textarea><input type="submit" title="Uz SPARQL" value="Uz SPARQL" name="toSparql"/></td></tr>
        <tr><td>SPARQL vaicājumu var labot; sk. <a href="{{ url_for('getSkills') }}">prasmju</a> 
            un <a href="{{ url_for('getTopics') }}">tēmu</a> sarakstus.</td></tr>
        <tr><td><textarea rows="5" cols="80" name="question" disabled="true">
        </textarea><input type="submit" title="Meklēt uzdevumus" value="Meklēt uzdevumus" name="searchProblems" disabled="true"/></td></tr>
    </div>
    </form>

</body>

</html>