<!DOCTYPE html>
<html lang="lv">

<head>
    <title>Math</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <!-- Load MathJax 3 with TeX input and HTML-CSS output -->
     <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
     <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
     <!--[if lt IE 9]>
         <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
     <![endif]-->
    <style>
        /* Style for the input field */
        .search-input {
            width: 500px;
            padding: 4px;
            border: 1px solid #ccc;
            border-radius: 10px; /* Rounded corners */
            outline: none;
            font-size: 16px;
        }
        
        /* Style for the search button */
        .search-button {
            padding: 4px 10px;
            background-color: #007bff;
            border: none;
            color: white;
            border-radius: 10px; /* Rounded corners */
            cursor: pointer;
            font-size: 16px;
        }
        
        /* Style to align the button next to the input field */
        .search-form {
            display: inline-block;
        }
    </style>
</head>

<body style="margin-left:0px">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                    <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                    <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                    <li><a href="{{ url_for('getTopics') }}">Tēmas</a></li>
                    <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                    <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
            <div class="col-sm-8 text-left">
                <p style="font-size:120%">Matemātikas olimpiāžu uzdevumi</p>
                <hr>
                <form class="search-form" action="{{ url_for('main') }}" method="get">
                    <input class="search-input" type="text" name="keyword" value="{{ keyword }}" placeholder="Enter your search query">
                    <button class="search-button" type="submit">Search</button>
                </form>
                {% for problem in problems %}

            <h3 style="font-size: 120%; color: #1565C0;">{{ problem.problemid }}</h3>

            {{ problem.text | safe }}
            {% if problem.imagefile != '' %}
            <p><img src="http://www.dudajevagatve.lv/static/eliozo/images/{{ problem.imagefile }}" width="250"/></p>
            {% endif %}
            <p style="font-size:80% !important"><a href="{{ url_for('getProblem',problemid=problem.problemid) }}">
                    Vairāk...
            </a></p>
            {% endfor %}
            </div>

        <!--
    <form style="margin-left: 0px; text-align: left;" action="#" method="GET">
    <table border="0" cellspacing="0">
        <tr><td>Ierakstiet, kādus uzdevumus meklēt (<a href="#">Meklēšanas vaicājumu paraugi</a>)</td></tr>
        <tr><td><textarea rows="5" cols="80" name="question">(Your text in English)
        </textarea><input type="submit" title="Uz SPARQL" value="Uz SPARQL" name="toSparql"/></td></tr>
        <tr><td>SPARQL vaicājumu var labot; sk. <a href="{{ url_for('getSkills') }}">prasmju</a> 
            un <a href="{{ url_for('getTopics') }}">tēmu</a> sarakstus.</td></tr>
        <tr><td><textarea rows="5" cols="80" name="question" disabled="true">
        </textarea><input type="submit" title="Meklēt uzdevumus" value="Meklēt uzdevumus" name="searchProblems" disabled="true"/></td></tr>
    </div>
    </form>
    -->

</body>

</html>