{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">
<p style="font-size:120%">Matemātikas olimpiāžu uzdevumi</p>
<hr>

<form class="search-form" action="{{ url_for('main') }}" method="get">
<input class="search-input" type="text" name="keyword" value="{{ keyword }}" placeholder="Ierakstiet atslēgvārdus">
<button class="search-button" type="submit">Meklēt</button>
</form>

{% for problem in problems %}
<h3 class="problem">{{ problem.problemid }}</h3>

{{ problem.text | safe }}

<p style="font-size:80% !important"><a href="{{ url_for('getProblem',problemid=problem.problemid) }}">
Vairāk...
</a></p>
{% endfor %}

</div>
{% endblock %}