<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Olimpiādes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                    <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                    <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                    <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                    <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="col-sm-8 text-left">
            <a href="{{ url_for('getOlympiads') }}" class="button">Atpakaļ</a>
            <div class="container">
                {{jsonfile}}
            </div>
            <h2> Olimpiāde: {{ country_id }}.{{ olympiad_id }} </h2>
            <p>Olimpiādes uzdevumi pa gadiem un klasēm</p>
            <table border="1" cellspacing="0">
                {% for year in all_years %}
                <tr>
                    <th>{{ year }}</th>
                    {% for grade in range(5,13) %}
                    {% if all_grades[year][grade-5] != 'NA' %}
                    <td><a href="{{ url_for('getGrades',year=year,grade=grade,country=country_id,olympiad=olympiad_id) }}">Klase: {{ grade }}</a></td>
                    {% else %}
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>

</body>

</html>