{% extends 'global.html' %}

{% block content %}
       <div class="col-sm-8 text-left">
                      <a href="{{ url_for('getArchive') }}" class="button">Atpakaļ</a>
            <div class="container">
                {{jsonfile}}
            </div>
            <h2> Olimpiāde: {{ country_id }}.{{ olympiad_id }} </h2>
            <p>Olimpiādes uzdevumi pa gadiem un klasēm</p>

            <table>
            {% for event in all_events %}
            <tr>
                <th style="font-weight:bold"><a href="{{ url_for('getGrades',event=event,grade=-1,country=country_id,olympiad=olympiad_id) }}">{{ event }}</a>:&nbsp;</th>
                <td>
                    {% for grade in range(5,13) %}
                    {% if all_grades[event][grade-5] != 'NA' %}
                    <a href="{{ url_for('getGrades',event=event,grade=grade,country=country_id,olympiad=olympiad_id) }}">{{ grade }}</a>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </table>

         </div>
{% endblock %}