<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Olimpiādes</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main') }}">Sākumlapa</a></li>
              <li class="active"><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
              <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                <li><a href="{{ url_for('getTopics') }}">Tēmas</a></li>
              <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
              <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">
  <div class="col-sm-8 text-left">
    <a href="{{ url_for('main') }}" class="button">Atpakaļ</a>
    <div class="container">
      {{jsonfile}}
    </div>

      <dl>
    {% for link in links %}

    <dt><a href="{{ url_for('getOlympiad',country_id=link.olympiadCountry,olympiad_id=link.olympiadCode) }}">{{ link.olympiadName['value'] }}</a></dt>
          <dd style="margin-left:20px">{{ link.olympiadDescription['value'] }}</dd>

    {% endfor %}

          </dl>
    <hr style="width:90%"/>
    <dl>
      <dt><a href="{{ url_for('getBook',book_id='BBK2012') }}">BBK</a></dt>
      <dd style="margin-left:20px">A.Bērziņa grāmatu uzdevumi</dd>
    </dl>
  </div>
  </div>
</body>

</html>