<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Uzdevums</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
  <a href="http://localhost:5000/skills" class="button">Atpakaļ</a>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body style="margin-left:5%">
  <div class="container">
    {{jsonfile}}
  </div>
  <h3>Uzdevums: {{ problemid }} </h3>
  <p> Klase {{ data[0].grade.value }}</p>
  <p> Gads: {{ data[0].year.value }}</p>
  {% if data[0].skill is defined %}
  <p> Prasmes: {% for item in data %}
    <a href="/skill_tasks?skillIdentifier={{item.skillIdentifier.value}}">{{ item.skillIdentifier.value }} </a>
    &nbsp;
    {% endfor %}  
  </p>
  {% endif %}
  <p> {{ text |safe }}</p>
  {% if image_src != '' %}
  <p><img src="./static/{{ image_src }}"/></p>
  {% endif %}
  {% if hasVideo %}
  <table border="1" cellspacing="0" style="border:1px solid #eeeeee; width:80%;">
    <tr>
        <td style="width:50%">
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player">

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: '{{ youtubeID }}', // šo jāpārtaisa
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
        </script>
    </div>
        </td>
        <td style="width:50%; vertical-align:top;">
            {{ video_title }}
            <ul>
            {% for bookmark in bookmarks %}
                <li>
                {{ bookmark.minutes }}:{{ bookmark.sec }} <a href="#">{{ bookmark.bmtext }} </a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>

  {% endif %}
</body>

</html>