<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Uzdevums</title>
    <style>
    .solution {
        display: none;
    }
</style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

 <!-- Load MathJax 3 with TeX input and HTML-CSS output -->
 <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
 <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
 <!--[if lt IE 9]>
     <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
 <![endif]-->

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                <li><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
            </ul>
        </div>
    </div>
</nav>
<a href="{{ url_for('getSkills') }}" class="button">Atpakaļ</a>
  <div class="container">
    {{jsonfile}}
  </div>
  <h3 style="margin-left:5%">Uzdevums: {{ problemid }} </h3>
  <p style="margin-left:5%"> Klase {{ data[0].grade.value }}</p>
  <p style="margin-left:5%"> Gads: {{ data[0].year.value }}</p>
  {% if data[0].skill is defined %}
  <p style="margin-left:5%"> Prasmes: {% for item in data %}
    <a href="{{ url_for('getSkill',skillIdentifier=item.skillIdentifier.value) }}">{{ item.skillIdentifier.value }} </a>
    &nbsp;
    {% endfor %}  
  </p>
  {% endif %}
  <p style="margin-left:5%"> {{ text | safe }}</p>
  {% if image_src != '' %}
  <p><img src="http://www.dudajevagatve.lv/static/eliozo/images/{{ image_src }}"/></p>
  {% endif %}


  {% if solutionText != ''%}
    <p><a href="#" id="toggleSolutionLink">Show Solution</a></p>

    <div id="solutionDiv" class="solution">{{solutionText | safe}}</div>

    <script>
    document.getElementById('toggleSolutionLink').addEventListener('click', function(e) {
        e.preventDefault(); // Prevent the default anchor action
        var solutionDiv = document.getElementById('solutionDiv');
        if (solutionDiv.style.display === 'none' || solutionDiv.style.display === '') {
            solutionDiv.style.display = 'block';
            this.textContent = 'Hide Solution';
        } else {
            solutionDiv.style.display = 'none';
            this.textContent = 'Show Solution';
        }
    });
    </script>
  {% endif %}

  {% if hasVideo %}
  <table border="1" cellspacing="0" style="border:1px solid #eeeeee; width:80%; margin-left:5%">
    <tr>
        <td style="width:50%">
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player">

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: '{{ youtubeID }}', // šo jāpārtaisa
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                // event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
        </script>
    </div>
        </td>
        <td style="width:50%; vertical-align:top;">
            {{ video_title }}
            <ul>
            {% for bookmark in bookmarks %}
                <li>
                {{ bookmark.minutes }}:{{ bookmark.sec }} <a href="#">{{ bookmark.bmtext }} </a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>

  {% endif %}
</body>

</html>