{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">

    <a href="{{ url_for('getSkills') }}" class="button">Atpakaļ</a>
  <div class="container">
    {{jsonfile}}
  </div>

  <div class="problemDiv">
      <h3 class="problem">{{ problemid }} </h3>

  {% if data[0].skill is defined %}
  <p><i>Prasmes: {% for item in data %}
    <a href="{{ url_for('getSkill',skillIdentifier=item.skillIdentifier.value) }}">{{ item.skillIdentifier.value }} </a>
    {% endfor %}</i></p>
  {% endif %}
  <p> {{ text | safe }}</p>
  {% if image_src != '' %}
  <p><img src="http://www.dudajevagatve.lv/static/eliozo/images/{{ image_src }}"/></p>
  {% endif %}


  {% if solutionText != ''%}
    <p><a href="#" id="toggleSolutionLink">Show Solution</a></p>

    <div id="solutionDiv" class="solution">{{solutionText | safe}}</div>

  </div>


    <script>
    document.getElementById('toggleSolutionLink').addEventListener('click', function(e) {
        e.preventDefault(); // Prevent the default anchor action
        var solutionDiv = document.getElementById('solutionDiv');
        if (solutionDiv.style.display === 'none' || solutionDiv.style.display === '') {
            solutionDiv.style.display = 'block';
            this.textContent = 'Hide Solution';
        } else {
            solutionDiv.style.display = 'none';
            this.textContent = 'Show Solution';
        }
    });
    </script>
  {% endif %}

  {% if hasVideo %}
  <table border="1" cellspacing="0" style="border:1px solid #eeeeee; width:80%; margin-left:5%">
    <tr>
        <td style="width:50%">
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player">

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: '{{ youtubeID }}', // šo jāpārtaisa
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                // event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
        </script>
    </div>
        </td>
        <td style="width:50%; vertical-align:top;">
            {{ video_title }}
            <ul>
            {% for bookmark in bookmarks %}
                <li>
                {{ bookmark.minutes }}:{{ bookmark.sec }} <a href="#">{{ bookmark.bmtext }} </a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>
      {% endif %}
</div>
{% endblock %}