<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Prasmes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}" style="padding: 5px 5px"><a href="{{ url_for('main') }}"><img src="{{ url_for('static',filename='nms-logo.png') }}" style="width:80px;" alt="NMS-logo"></a></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main') }}">Sākumlapa</a></li>
                    <li><a href="{{ url_for('getOlympiads') }}">Olimpiāžu arhīvs</a></li>
                    <li class="active"><a href="{{ url_for('getSkills') }}">Prasmes</a></li>
                    <li><a href="{{ url_for('getVideo') }}">Video atrisinājumi</a></li>
                    <li><a href="{{ url_for('getInfo') }}">Bibliogrāfija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="{{ url_for('main') }}"class="button">Atpakaļ</a>
    <div class="container">
        {{jsonfile}}
    </div>
    <h2>Prasmes</h2>
    <table class="tasks">
        <colgroup>
            <col class="aaa">
            <col class="bbb">
            <col class="ccc">
        </colgroup>
        <tbody>
            <tr>
                <th>Prasmes kods</th>
                <th>Prasmes numurs</th>
                <th>Apraksts</th>
                <th>Piemēri</th>
            </tr>
            {% for skill in all_skills %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td><a href="{{ url_for('getSkill',skillIdentifier=skill) }}">{{ skill }}</a></td>
                <td>{{ all_skill_info[skill].skillNumber }}</td>
                <td>{{ all_skill_info[skill].skillDescription |safe }}</td>
                <td>{% for problem in all_skill_info[skill].problems %} <a href="{{ url_for('getProblem',problemid=problem) }}">{{
                        problem }}</a>, {% endfor %} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>