{% extends 'global.html' %}

{% block content %}
<div class="col-sm-8 text-left">
    <table class="tasks">
        <thead>
            <tr>
                <th>{% trans %}Number{% endtrans %}</th>
                <th>{% trans %}Topic Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td>{{ topic.number }}</td>
                <td><a href="{{ url_for('indexes.getTopic', topicIdentifier=topic.identifier) }}">{{ topic.name | safe
                        }}</a></td>
                <td>{{ topic.description | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}