<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Prasmes</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    {{jsonfile}}
  </div>
  <h2>Prasmes</h2>
  <table class="tasks">
    <colgroup>
    <col class="aaa">
    <col class="bbb">
    <col class="ccc">
    </colgroup><tbody>
    <tr><th>Prasmes kods</th><th>Piemēri</th></tr>
    {% for link in links %}
    <tr class="{{ loop.cycle('odd', 'even') }}">{{ row }}
    <td><a href="/skill?skillID={{link.obj.value}}">{{ link.obj.value }}</a></td>
    <td>&nbsp;</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </body>
</html>