<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Olimpiādes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        {{jsonfile}}
    </div>
    <h2> Olimpiāde: {{ country_id }}.{{ olympiad_id }} </h2>
    <p> Visi gadi no šīs konkrētās olimpiādes </p>
    <table border="1" cellspacing="0">
        {% for year in all_years %}
        <tr>
            <th>{{ year }}</th>
            {% for grade in range(5,13) %}
            {% if all_grades[year][grade-5] != 'NA' %}
            <td><a href="#">Klase: {{ grade }}</a></td>
            {% else %}
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>