<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Olimpiādes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
  <a href="http://localhost:5000/" class="button">Atpakaļ</a>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    {{jsonfile}}
  </div>
  <h2 class="top"> Olimpiāžu arhīvs </h2>
  <p> Visas olimpiādes, kuras ir mūsu RDF krātuvē </p>
  {% for link in links %}
  <p>Olimpiāde: <a
      href='http://localhost:5000/olympiad?country_id={{link.country.value}}&olympiad_id={{link.olympiad.value}}'> {{
      link.country.value }}.{{ link.olympiad.value }} </a> </p>
  {% endfor %}
</body>
</html>