<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Uzdevums</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
  <a class="navbar-brand" href="http://localhost:5000/skills">Atpakaļ</a>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    {{jsonfile}}
  </div>
  <h3>Uzdevums: {{ problemid }} </h3>
  <p> Klase {{ data[0].grade.value }}</p>
  <p> Gads: {{ data[0].year.value }}</p>
  <p> Prasmes: {% for item in data %}
  <a href="/skill_tasks?skillIdentifier={{item.skillIdentifier.value}}">{{ item.skillIdentifier.value }} </a>
  &nbsp;
  {% endfor %}
  </p>
  <p> {{ text |safe }}</p>
</body>
</html>