/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

div.mycontainer {
    padding-left: 5px;
    padding-top: 5px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

table.tasks, table.proofs {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
}

table.tasks tr td, table.proofs tr td {
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

table.tasks tr th, table.proofs tr th {
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 120%;
}

table.tasks tr.odd, table.proofs tr.odd {
    background-color: #eeeeee;
}

table.tasks td.stat {
  padding-left: 5px; 
  padding-right: 5px;
  text-align: left;
}

table.tasks td.borderlessstat {
  padding-left: 5px; 
  padding-right: 5px;
  border-right: 0px;
  text-align: left;  
}

table.tasks th {
  padding-left: 5px; 
  padding-right: 5px;
  font-weight: 200; 
  font-style: italic;
}

body {
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%
}

h2.top {
    margin-top: 0px;
    color:black;
}

h2 {
    color: blue;
    text-align: center;
}

div#solutionDiv > h2 {
    font-size: 120%;
    color: #1565C0;
    text-align: left;
}

/* CSS for info.html */
a.info{
    color: blue;
}

p.info{
    color:black;
}

h2.info{
    text-align:left;
}

/* CSS for buttons */
a.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;;
    border-radius: 12px;
    border: 1px solid darkgrey;
    transition-duration: 0.5s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 0px 4px 0px;
}


a.button:hover {
    background-color: gray;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

dd.info {
    margin-left: 30px !important;
}

h3.problem {
    font-size: 120%;
    color: #1565C0;
}

div.problemDiv {
    font-family: Calibri Arial sans-serif;
}

/* Avoid default-white background making the navigation button invisible */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999999 !important;
}


.custom-list li {
  list-style: none; /* Remove default numbering */
  position: relative; /* For positioning the pseudo-element */
  padding-left: 60px; /* Space for the custom label */
}

.custom-list li::before {
  content: attr(data-label); /* Use the data-label attribute */
  position: absolute;
  left: 0;
  width: 50px; /* Adjust width as necessary */
  font-weight: bold; /* Optional: make label bold */
}


.info-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #1565C0;
  color: white;
  font-weight: bold;
  font-size: 70%;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  cursor: pointer;
}

.popup-dialog {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: 80%;
}

.popup-dialog:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transform: translateX(-50%);
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


div.panel-body i {
  font-size:85%;
}

table.colornavigation a {
  text-decoration: underline !important;
}

.tltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size:80%;
  color: #2B547E;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tltip .tltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #ffffcc;
  font-style: normal;
  color: black;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}

div.panel-body h2 {
  font-weight: normal;
  text-align: left;
  margin-block-end: 0.25em;
}

div.panel-heading h4 {
  font-weight: normal;
}

/* Searching text/regex on the "main" page */
div.main .search-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
  border: 1px solid #ccc;
}

div.main  .search-target {
  background-color: lightgray;
  padding: 4px;
}

div.main  .search-input {
  flex-grow: 1;
  background-color: white;
  border: none;
  padding: 4px;
  outline: none;
}

div.main  .search-quadratic {
  background-color: #FFD580;
  border: none;
  padding: 2px;
  cursor: pointer;
}


div.main .search-quadratic img {
  height: 25px;
  width: 25px;
}





/* Search form for "filters" */
.search-form {
  display: flex;
  flex-direction: column;
}

/*  was display: inline-block; */
.search-form .filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-form .filter {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and base flex-basis */
  min-width: 150px;
  box-sizing: border-box;
}

.search-form .filter h3 {
  margin-top: 0;
}

.search-form label {
  font-weight: normal;
}

.search-form label.selected {
  font-weight: bold;
  color: blue;
}

.search-form .filter input {
  margin-right: 5px;
}

.search-form .search-button {
  margin-top: 20px;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

.search-form .search-button:hover {
  background-color: #4cae4c;
}

@media (min-width: 600px) {
  .search-form {
    flex-direction: row;
  }
  .search-button {
    align-self: flex-start;
    margin-top: 0;
    margin-left: 0px;
  }
}

a.selectedlang, a.selectedlang:visited, a.selectedlang:hover, a.selectedlang:active {
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

div.olympiads p.olympiad {
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

tt.metahelp {
  color:#999999;
  font-size: 80%;
}